{% extends 'base.html' %}

{% set size = 9 %}
{% set label_size = 12 - size %}

{% block content %}
  <h1>{% block title %} Add a New Course {% endblock %}</h1>

  <form method="POST" action="/" novalidate>
    {{ form.csrf_token }}

    <div class="row mb-2">
      <div class="col-sm-{{ label_size }}">
        {{ form.title.label(class="col-form-label") }}
      </div>
      <div class="col-sm-{{ size }}">
        {{ form.title(class="form-control") }}
      </div>
    </div>

    {{ macros.list_errors(form.title) }}

    <div class="row mb-2">
      {{ form.description.label(class="col-form-label") }}
      {{ form.description(rows=5, class="form-control") }}
    </div>

    {{ macros.list_errors(form.description) }}

    <div class="row mb-2">
      <div class="col-sm-{{ label_size }}">
        {{ form.price.label(class="col-form-label") }}
      </div>
      <div class="col-sm-{{ size }}">
        {{ form.price(class="form-control") }}
      </div>
    </div>

    {{ macros.list_errors(form.price) }}

{#    <div class="row mb-2">#}
{#      <div class="col-sm-{{ 1 }}">#}
{#        {{ form.available(class="form-check-input", type="checkbox" ) }}#}
{#      </div>#}
{#      <div class="col-sm-{{ 11 }}">#}
{#        {{ form.available.label(class="form-check-label") }}#}
{#      </div>#}
{#    </div>#}

    {{ macros.list_errors(form.available) }}

    <div class="row mb-2">
        {{- form.available(class_="form-check-input", type="checkbox") -}}
        {{- form.available.label(class_="form-check-label") -}}
    </div>

    {{ macros.list_errors(form.available) }}
{#    <p>#}
{#      {{ form.available() }} {{ form.available.label }}#}
{#    </p>#}


    <p>
      {{ form.level.label }}
      {{ form.level() }}
    </p>

    {% if form.level.errors %}
      <ul class="errors">
        {% for error in form.level.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <p>
      <input type="submit" value="Add">
    </p>
  </form>

{% endblock %}